In [1]:
import pandas as pd

In [2]:
excel_file_dir = 'data.xlsx'
worksheet_name = 'Sayfa1'
df = pd.read_excel(excel_file_dir, worksheet_name)

In [3]:
df

,Cinsiyet,isim_soyisim,Yas,Gelir,Not Ortalaması,Üniversite,Boy
0,1,Ahmet Karaca,18,1000,2.05,Giresun Üniversitesi,1.80
1,1,Sami Karaca,20,1200,1.90,Anadolu Üniversitesi,1.75
2,2,Merve Güler,19,800,2.50,Sivas Cumhuriyet Üniversitesi,1.79
3,1,Enes Deniz,21,1000,3.70,Orta Doğu Teknik Üniversitesi,1.73
4,2,Duygu Düzgün,20,900,2.89,Karadeniz Teknik Üniversitesi,1.85
5,1,Alp Kaan,19,1500,1.55,Sivas Cumhuriyet Üniversitesi,1.87
6,2,Ece Güzel,20,1200,1.26,Anadolu Üniversitesi,1.65
7,1,Mehmet Ay,22,1800,2.59,Amasya Üniversitesi,1.82
8,2,Yeşim Kara,23,900,3.45,Hacettepe Üniversitesi,1.63
9,2,Ayşe Gün,21,500,2.15,Akdeniz Üniversitesi,1.68

In [13]:
df[df.columns[4]]

0    2.05
1    1.90
2    2.50
3    3.70
4    2.89
5    1.55
6    1.26
7    2.59
8    3.45
9    2.15
Name: Not Ortalaması, dtype: float64

In [18]:
pd.Series(data = df[df.columns[4]],index = df[df.columns[0]])

Cinsiyet
1    1.9
1    1.9
2    2.5
1    1.9
2    2.5
1    1.9
2    2.5
1    1.9
2    2.5
2    2.5
Name: Not Ortalaması, dtype: float64