In [2]:
#1 ile 100 arasındaki cift sayilari bulmak
def findEvenNumbers():
    for i in range(1,100):
        if i % 2==0:
            print(i)

In [4]:
findEvenNumbers()

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98

In [5]:
#tek sayılar
def findOddNumbers():
    for i in range(1,100):
        if i % 2 == 1:
            print(i)

In [7]:
findOddNumbers()

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [10]:
#ortalaması
def avarange(a,b):
    return (a+b)/2
avarange(10,2)

6.0

In [7]:
import pandas as pd

In [20]:
liste = [1,2,3,4,5]

In [21]:
liste[2]

3

In [22]:
pd.Series(liste)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [23]:
indexList = ["a","b","c","d","e"]

In [24]:
seri = pd.Series(liste, indexList)

In [30]:
sozluk = {"ahmet": "forvet", "mehmet": "defans","eren": "kaleci"}

In [31]:
sozlukSerisi = pd.Series(sozluk)

In [18]:
seri.T

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [22]:
seri.dtypes

dtype('int64')

In [26]:
liste = [1,2,3,4,5,1]
seri =pd.Series(liste)

In [27]:
seri.is_unique #tekrarlayan ifade varsa listede unique olmaz

False

In [25]:
seri.size

6

In [28]:
seri.head()

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [29]:
seri.describe()

count    6.000000
mean     2.666667
std      1.632993
min      1.000000
25%      1.250000
50%      2.500000
75%      3.750000
max      5.000000
dtype: float64

In [32]:
sozlukSerisi.describe()

count          3
unique         3
top       kaleci
freq           1
dtype: object

In [33]:
def toplama(sayi1,sayi2):
    return sayi1+sayi2

In [34]:
toplama(5,2)

7

In [35]:
#shift + tab + tab
pd.Series() #imleç parantezin içindeyken Shift + Tab basarsak AÇIKLAMA PENCERESİ GELİR !

C:\ProgramData\Anaconda3\envs\tf\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.

Series([], dtype: float64)

In [36]:
calisanlar = ["ahmet","ace", "emre"]
maaslar = [1000,2000,1000]

In [39]:
pd.Series(calisanlar,maaslar)

1000    ahmet
2000      ace
1000     emre
dtype: object

In [ ]:
#### CSV dosyasından verileri cekelim

In [5]:
pd.read_csv("sarkicilar.csv")

                                         Kategori: Tüm kategoriler
Zaman         Taylor Swift: (Türkiye)  İbrahim Tatlıses: (Türkiye)
2021-04-02T20 3                                                 14
2021-04-02T21 3                                                 14
2021-04-02T22 3                                                 18
2021-04-02T23 3                                                 18
...                                                            ...
2021-04-09T15 3                                                 10
2021-04-09T16 4                                                 10
2021-04-09T17 5                                                 13
2021-04-09T18 4                                                 11
2021-04-09T19 3                                                 14

[169 rows x 1 columns]

In [14]:
import pandas as pd 
pd.read_csv("days.csv")

        Gunler  Kumbara
0         Cuma        1
1    Cumartesi        2
2        Pazar        3
3    Pazartesi        4
4         Salı        5
..         ...      ...
244   Perşembe      245
245       Cuma      246
246  Cumartesi      247
247      Pazar      248
248  Pazartesi      249

[249 rows x 2 columns]

In [16]:
pd.read_csv("days.csv", usecols=["Gunler"], squeeze=True) #suanda verilerle iş yapmak için seriye çevirdik

0           Cuma
1      Cumartesi
2          Pazar
3      Pazartesi
4           Salı
         ...
244     Perşembe
245         Cuma
246    Cumartesi
247        Pazar
248    Pazartesi
Name: Gunler, Length: 249, dtype: object

# Python Built-in Functions

In [25]:
sozluk = dict(seri) #yukardaki seri yi sozluğe çevirdik

In [29]:
liste = [1,2,3,4,5]
pd.Series(liste)

sorted(liste)

[1, 2, 3, 4, 5]

In [30]:
gunlerSerisi =  pd.read_csv("days.csv", usecols=["Gunler"], squeeze=True) #suanda verilerle iş yapmak için seriye çevirdik

In [34]:
gunlerSerisi.sort_values(inplace=True) # inplace=True dediğimizde yaptımız değişikler gunlerSerisine kaydedilir

In [35]:
#serimizi ilk haline getirelim.ilk hali indexlere göre sıralanmıştı
gunlerSerisi.sort_index(inplace=True)

In [36]:
gunlerSerisi

0           Cuma
1      Cumartesi
2          Pazar
3      Pazartesi
4           Salı
         ...
244     Perşembe
245         Cuma
246    Cumartesi
247        Pazar
248    Pazartesi
Name: Gunler, Length: 249, dtype: object

# Seri Ve Liste Benzerlikleri

In [40]:
liste

[1, 2, 3, 4, 5]

In [41]:
#Seri ve listede  indexlere aynı şekilde ulaşabiliriz

In [38]:
liste[2]

3

In [39]:
gunlerSerisi[2]

'Pazar'

In [42]:
gunlerSerisi[-20:-10]

229     Çarşamba
230     Perşembe
231         Cuma
232    Cumartesi
233        Pazar
234    Pazartesi
235         Salı
236     Çarşamba
237     Perşembe
238         Cuma
Name: Gunler, dtype: object

In [44]:
 2 in liste # 2 listede var mı ?

True

In [47]:
"Pazartesi" in gunlerSerisi.values  # serilerde ise values ile herhangi bir eleman içinde var mı diye sorgulayabiliriz

True

In [62]:
#days.csv dosyamızdan verileri çekelim ve istediğimiz günlerdeki değeri getirelim
daysSeries= pd.read_csv("days.csv", index_col="Gunler", squeeze=True)

In [63]:
daysSeries["Pazartesi"]

Gunler
Pazartesi      4
Pazartesi     11
Pazartesi     18
Pazartesi     25
Pazartesi     32
Pazartesi     39
Pazartesi     46
Pazartesi     53
Pazartesi     60
Pazartesi     67
Pazartesi     74
Pazartesi     81
Pazartesi     88
Pazartesi     95
Pazartesi    102
Pazartesi    109
Pazartesi    116
Pazartesi    123
Pazartesi    130
Pazartesi    137
Pazartesi    144
Pazartesi    151
Pazartesi    158
Pazartesi    165
Pazartesi    172
Pazartesi    179
Pazartesi    186
Pazartesi    193
Pazartesi    200
Pazartesi    207
Pazartesi    214
Pazartesi    221
Pazartesi    228
Pazartesi    235
Pazartesi    242
Pazartesi    249
Name: Kumbara, dtype: int64

In [66]:
daysSeries.get([0,10]) #0 ve 10. elemanını getirdik.

Gunler
Cuma          1
Pazartesi    11
Name: Kumbara, dtype: int64

In [68]:
#mesela serimizde olmayan bir şeyi arayalım ve olmadığında bize hata mesajı versin !
daysSeries.get("Monday" , default="aradiğimiz gun seride yok")

'aradiğimiz gun seride yok'

In [70]:
daysSeries.get(key=["Pazartesi","Pazar","Monday"], default="aradiğimiz gun seride yok")

'aradiğimiz gun seride yok'

In [72]:
#aslında boş veri varsa pytonda tıpkı int,str gibi boş veride NoneType diye bir tür var !!
type(None)

NoneType

In [73]:
x=5 
x == None # x  None eşitmi(x 5 e eşit  olduğu için false değerini verdi)

False

# Max Min Ozellikleri

In [77]:
#şimdi listemizdeki max değeri bulalım ama min ve max komutunu kullanmadan :D
randListe = [5,3,2,6,8,9,1,10,4,7]

In [79]:
seri = pd.Series(randListe)
seri

0     5
1     3
2     2
3     6
4     8
5     9
6     1
7    10
8     4
9     7
dtype: int64

In [81]:
#max sayisini bu şekilde bulabiliriz
maxSayi = 0
for i in seri:
    if maxSayi <i:
        maxSayi = i
maxSayi

10

In [87]:
#min sayı için yapalım
minSayi = 100
for i in seri:
    if minSayi>i:
        minSayi=i
minSayi

1

In [88]:
#Tabi eger sayılamız negatifse veya diğer faktörler varsa ozaman:
#sorting algoritma (Sıralma Algoritmaları)'a göz atmak gerek

In [89]:
#şimdi de max ve min metodunu görelim:
seri.max()

10

In [93]:
seri.min()

1

7

In [92]:
seri.idxmax() # maximum sayinin indexini verir

7

In [97]:
#bunun arka plandaki kodu aslında bu şekilde :
maxSayi = 0 
sayac = 0
index = -1
for i in seri:
    if maxSayi <i:
        maxSayi = i
        index = sayac
    sayac+=1 #sayac = sayac+1 ile aynı C++ daki i++

index

7

In [112]:
#sayac ile ilgili bir örnek

i=0

while i<5:
    print(i)
    i +=1

0
1
2
3
4

In [113]:
#sayac ile ilgili bir örnek

i=0

while i<5:
    print(i)
    i = i +1  # i +=1 ile aynı şey C++ daki i++

0
1
2
3
4

# Apply Metodu

In [115]:
def ikiEkle(sayi):
    return sayi+2

In [123]:
def stringeCevir(sayi):
    if sayi == 1:
        return "bir"
    if sayi == 2:
        return "iki"

In [124]:
seri #daha önceki seriyi

0     5
1     3
2     2
3     6
4     8
5     9
6     1
7    10
8     4
9     7
dtype: int64

In [125]:
seri.apply(stringeCevir)

0    None
1    None
2     iki
3    None
4    None
5    None
6     bir
7    None
8    None
9    None
dtype: object

# Map Metodu

In [130]:
calisanlar = ["ahmet","busra","cuneyt","deniz","efe","ferhat","gizem"]
calisanlarseri = pd.Series(calisanlar)

In [131]:
kuraSonucu = {"ahmet":5,"busra":2,"cuneyt":1,"deniz":6,"efe":3,"ferhat":4,"gizem":7}

In [132]:
kuraSerisi = pd.Series(kuraSonucu)

In [135]:
kuraSerisi.map(calisanlarseri)

ahmet     ferhat
busra     cuneyt
cuneyt     busra
deniz      gizem
efe        deniz
ferhat       efe
gizem        NaN
dtype: object